/* You can add global styles to this file, and also import other style files */

body {
  margin-top: 15px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.imagen_container{
	width: 100%;
	overflow: hidden;
}

.cat_imagen{
	/*width: 100%;*/
	height: 150px;
	margin: 0px auto;
	display: block;
}

.imagen_relleno{
	background: #ccc;
  margin: 0px auto;
	display: block;
	height: 150px;
}
.cat-detail{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cat-detail  .caption {
  margin-left: 3px;
}
